[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
matplotlib = "*"
keras = "*"
pdfminer = "*"
xlsxwriter = "*"
nltk = "*"
jupyter = "*"
seaborn = "*"
plotly = "*"
pandas = "*"
numpy = "*"
scipy = "*"
apyori = "*"
networkx = "*"
mlxtend = "*"

[requires]
python_version = "3.6"
